<h2>Create an Account</h2>

<form>
    <div class="inputContainer">

        <label for="userTypeId">Will you be a customer or driver?</label><br>
        <select  name="userTypeId" [(ngModel)]="input" id="userTypeId">
            <option value="1">Customer</option>
            <option value="2">Driver</option>
        </select><br><br>

        <label for="firstName">Enter your First Name:</label><br>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="user.userFirstName"><br><br> 
    
        <label for="lastName">Enter your Last Name:</label><br>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="user.userLastName"><br><br>

        <label for="email">Enter your email address:</label><br>
        <input type="text" id="email" name="email" [(ngModel)]="user.userEmail"><br><br>

        <label for="username">Enter a username:</label><br>
        <input type="text" id="username" name="username" [(ngModel)]="user.userUsername"><br><br> 

        <label for="password">Enter a password:</label><br>
        <input type="text" id="password" name="password" [(ngModel)]="user.userPassword"><br><br>

        <!-- 
        <h4>Confirm password:</h4>
        <input type="text" name="password2" ngModel placeholder="Enter password here">
        --> 
        <button type="submit" (click)="createUser()">Submit</button> 
    </div>
</form>