<h2>Create an Account</h2>
<div class="container">

    <div class="row">

        <div class="col-md-4">

            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && createUser()" #f="ngForm" novalidate>
                
                <div class="form-group">
                    <label for="userTypeId" class="form-label">Will you be a customer or driver?</label>
                    <select  name="userTypeId" [(ngModel)]="input" id="userTypeId" class="form-control">
                        <option value="1">Customer</option>
                        <option value="2">Driver</option>
                    </select><br>
                </div>

                <div class="form-group">
                    <label for="firstName" class="form-label">Enter your First Name:</label><br>
                    <input type="text" id="firstName" name="firstName" [(ngModel)]="user.userFirstName" class="form-control" required #firstname="ngModel"><br> 
                    <!-- Some validation -->
                    <div class="alert-danger" *ngIf="firstname.errors && f.submitted">
                        <div *ngIf="firstname.errors.required">First Name is required</div>
                    </div><br>
                </div>

                <div class="form-group">
                    <label for="lastName" class="form-label">Enter your Last Name:</label><br>
                    <input type="text" id="lastName" name="lastName" [(ngModel)]="user.userLastName" class="form-control" required #lastname="ngModel"><br>
                    <!-- Some validation -->
                    <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                        <div *ngIf="lastname.errors.required">Last Name is required</div>
                    </div><br>
                </div>

                <div class="form-group">
                    <label for="email" class="form-label">Enter your email address:</label><br>
                    <input type="text" id="email" name="email" [(ngModel)]="user.userEmail" class="form-control" required #email="ngModel"><br>
                    <!-- Some validation -->
                    <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
                        <div *ngIf="email.errors?.required">Email is required</div>
                    </div><br>
                </div>

                <div class="form-group">
                    <label for="username" class="form-label">Enter a username:</label><br>
                    <input type="text" id="username" name="username" [(ngModel)]="user.userUsername" class="form-control" required #username="ngModel"><br> 
                    <!-- Some validation -->
                    <div class="alert-danger" *ngIf="username.errors && f.submitted">
                        <div *ngIf="username.errors.required">username is required</div>
                    </div><br>
                </div>

                <div class="form-group">
                    <label for="password" class="form-label">Enter a password:</label><br>
                    <input type="text" id="password" name="password" [(ngModel)]="user.userPassword" class="form-control" required #password="ngModel"><br>
                    <!-- Some validation -->
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">password is required</div>
                    </div><br>
                </div>
                    <!-- 
                    <h4>Confirm password:</h4>
                    <input type="text" name="password2" ngModel placeholder="Enter password here">
                    --> 
                <div class="form-group">
                    <button type="submit" (click)="createUser()">Submit</button>
                </div>
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                    Signup failed!<br />{{errorMessage}}
                </div>
            </form>
        </div>
    </div>
</div>
