footer {
    color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 30px;
    padding-bottom: 1rem;
    position: relative;
    bottom: 0 !important;
  }