<!-- Alert -->
<app-alert></app-alert>

<div class="container-fluid" id="loginDiv">

  <!-- Input box for login-->
  <div class="row">
    <div class="col">
      <h2 id="welcomeHeader">Welcome to Food Hero</h2>
      <br />
      <!-- <p >{{user.userFirstName}}</p> -->
      <h3><b>
          Executive summary: </b>Food hero is a one stop shop for food delivery. We
        pride ourselves on making good food available to everyone.
      </h3>
      <h3><b>
          Mission:</b> Our mission is to promote good food and enable customers to have
        it delivered straight to their door.
      </h3>


      <!-- Login Card -->
      <div id="fieldsDiv">
        <h2>Login</h2>
        <!-- [(Two way binding!!)] this input field will take user input and fill a variable in our TS-->
        <input class="form-control" type="text" [(ngModel)]="user.userUsername" placeholder="username" />
        <input class="form-control" type="password" [(ngModel)]="user.userPassword" placeholder="password" />
        <div>
          <button type="button" class="large-button" id="loginButton" (click)="login()"><b>
            Login</b>
          </button>
        </div>
        <div>
          <a id="registerLink" routerLink="/registration">Register</a>
        </div>
      </div>
      <figure class="text-center"><blockquote class="blockquote"><p><b>“One cannot think well, love well, sleep well, if one has not dined well.”</b></p>
      </blockquote>
      <figcaption class="blockquote-footer">Virginia Woolf,
        <cite title="Source title">A Room of One’s Own</cite>
      </figcaption>
    </figure>

    </div>
  </div>
  </div>