<div class="container-fluid d-flex">
  <!-- Input box for login-->
  <div class="row" id="loginDiv">
    <!-- Might remove class-->
    <h1 id="font-bold"><span style="font-family: Algerian;"><b>Welcome to Food Hero</b></span></h1> 
    <br />
    <!-- <p >{{user.userFirstName}}</p> -->
    <h2><b>
      Executive summary: </b>Food hero is a one stop shop for food delivery. We
      pride ourselves on making good food available to everyone.      
    </h2>
    <h2><b>
      Mission:</b> Our mission is to promote good food and enable customers to have
      it delivered straight to their door.
    </h2>
    <br /><br /><br />
    <b></b>
    <div id="fieldsDiv">
      <h3 id="font-bold">Please Login here</h3>
      <!-- [(Two way binding!!)] this input field will take user input and fill a variable in our TS-->
      <input 
        class="form-control"
        type="text"
        [(ngModel)]="user.userUsername"
        placeholder="username"
      />
      <input
        class="form-control"
        type="text"
        [(ngModel)]="user.userPassword"
        placeholder="password"
      />
      <div>
      <button type="button" class="large-button" (click)="login()">
        Login
      </button>
      </div>
      <div>
      <a routerLink="/registration" class="btn btn-link">Register</a>
    </div>
    <figure>
      <blockquote class="blockquote">
        <p>“One cannot think well, love well, sleep well, if one has not dined well.”</p>
      </blockquote>
      <figcaption class="blockquote-footer">Virginia Woolf
        <cite title=", A Room of One’s Own">, A Room of One’s Own</cite>
      </figcaption>
    </figure>
    
    </div>
  </div>
  

</div>


