.order-records-div {
    background-color: gray;
    max-width: 500px;
    height: 100px;
    margin: 1rem auto 1rem auto;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
}

.order-record .row {
    width: 100%;
}