<header class="m-4">
    <table class="table table-dark">
        <thead>
            <th class="col-sm-9">
                <h3>Add Menu Items</h3>
            </th>
            <th class="col-sm-3">
                <h3>User</h3>
            </th>
        </thead>
    </table>
</header>

<body class="mx-5 my-3">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Food Item Name</th>
                <th>Food Item Cost</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><input type="text" [(ngModel)]="foodItem.foodItemName"/></td>
                <td><input type="number" [(ngModel)]="foodItem.foodItemCost" /></td>
            </tr>
        </tbody>
        <button class="btn btn-dark my-2" (click)="addFood()">Order</button>
    </table>
</body>
