
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1 id="title">Fast Food Restaurants</h1>
</head>
<body>

    <input (click)="setRestaurant(4966752)" type="image" id="mcdonalds" class="restaurantbuttons" src="../../assets/McDonalds.jpg" style="width: 25%;">
   
    <input (click)="setRestaurant(930580)" type="image" id="wendys" class="restaurantbuttons" src="../../assets/Wendys.gif" style="width: 25%;">
    
    <!--<input (click)="setRestaurant()" type="image" id="tacobell" class="restaurantbuttons" src="../../assets/TacoBell.jpg" style="width: 25%;">
 
    <input (click)="setRestaurant()" type="image" id="subway" class="restaurantbuttons" src="../../assets/Subway.jpg" style="width: 25%;">

    Couldn't find Taco Bell or Subway in the external api -->

</body>
</html>