<header class="m-4">
    <table class="table table-dark">
        <thead>
            <th class="col-sm-9">
                <h3>Orders</h3>
            </th>
            <th class="col-sm-3">
                <h3>User</h3>
            </th>
        </thead>
    </table>
</header>

<body class="mx-5 my-3">
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Order Item Id</th>
                <th>Order Item Name</th>
                <th>Order Item Number</th>
                <th>Order Item Cost</th>
                <th>Order Item Total Cost</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <!--<td>{{orderItem.orderItemId}}</td>
                <td>{{orderItem.orderItemFood.foodItemName}}</td>
                <td>{{orderItem.orderItemNum}}</td>
                <td>{{orderItem.orderItemFood.foodItemCost}}</td>
                <td>{{orderItem.orderItemTotalCost}}</td>-->
            </tr>
        </tbody>
    </table>
</body>