<header class="m-4">
    <table class="table">
        <thead>
            <tr>
                <th class="col-sm-9">
                    <h1>Orders</h1>
                </th>
                <th class="col-sm-3">
                    <!--<h1>{{user.userFirstName}} {{user.userLastName}}</h1>-->
                </th>
            </tr>
            <tr>
                <th class="col-sm-6">
                    <h1>{{res.name}}</h1>
                </th>
                <th class="col-sm-6">
                    <h1>{{res.address}}</h1>
                </th>
            </tr>
        </thead>
    </table>
</header>

<body class="mx-5 my-3">
    <table class="table">
        <thead>
            <tr>
                <th>Order Item Name</th>
                <th>Order Item Number</th>
                <th>Order Item Cost</th>
                <th>Order Item Total Cost</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let orderitem of orderItem">
                <td>{{orderitem.foodItemId.foodItemName}}</td>
                <td><input type="number" [(ngModel)]="orderitem.orderItemNum" /></td>
                <td>${{orderitem.foodItemId.foodItemCost}}</td>
                <td>${{orderitem.foodItemId.foodItemCost * orderitem.orderItemNum}}</td>
            </tr>
        </tbody>
        <button class="btn large-button my-2" (click)="btn()">Order</button>
    </table>
</body>