<header class="m-4">
    <table class="table table-dark">
        <thead>
            <th class="col-sm-9">
                <h3>Orders</h3>
            </th>
            <th class="col-sm-3">
                <h3>User</h3>
            </th>
        </thead>
    </table>
</header>

<body class="mx-5 my-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, aspernatur sit. Ad facilis, ea quo nemo illo magni,
    nobis dolorum doloremque veniam dignissimos dolor totam reiciendis fuga alias necessitatibus inventore illum quaerat
    voluptates? At animi natus facere ipsum consequatur repellendus beatae? Expedita dignissimos rem commodi explicabo
    nihil impedit ullam at et totam maxime omnis corrupti, quam similique, ab fugit dolores autem. Alias odio commodi
    voluptates a dicta neque repellendus corporis sint illum, cum totam consectetur enim nesciunt maiores nihil natus
    sunt laboriosam? Itaque adipisci laboriosam esse vero, minus omnis odio alias at rerum laudantium atque neque,
    impedit error doloremque, explicabo labore soluta provident obcaecati magni tenetur perspiciatis officia veniam
    consectetur hic? Laborum eius ullam molestiae eaque harum. Dicta cum necessitatibus quos impedit maxime, laudantium
    quod vero ducimus nobis sapiente! Quam architecto molestiae explicabo eveniet pariatur animi officiis omnis, iure
    eius repellendus, sunt laborum excepturi. Numquam voluptates, in laudantium, velit molestiae ex adipisci quam
    itaque, repellendus similique optio rerum perferendis. Blanditiis saepe rem cupiditate nulla officiis quisquam
    quaerat sint molestiae voluptatum. Facere ad eos facilis aperiam ullam illum hic amet, quos architecto dolore vel.
    Magni, enim? Hic ea distinctio magnam commodi veritatis perspiciatis dolorum provident sapiente ullam error
    quibusdam cupiditate dolorem a, reprehenderit dolor nobis iure atque ipsam repudiandae quaerat. Dolor, cum obcaecati
    officiis laboriosam labore alias illum provident commodi omnis earum, odit, nulla quo officia ab neque cumque libero
    aperiam eligendi! Commodi sequi consectetur illo porro possimus dolor rerum natus sunt iusto beatae repudiandae,
    quaerat, corrupti, quo non aut pariatur suscipit quasi sit accusamus numquam iure? Dolore corporis assumenda,
    distinctio enim officia iusto ea laudantium maxime suscipit nisi dignissimos doloribus hic modi praesentium odio
    possimus animi aut voluptatem veritatis. Nostrum culpa consequatur obcaecati laborum! Expedita deserunt dicta
    cupiditate, ut maxime praesentium eveniet tenetur officiis voluptatum dignissimos et nostrum! Maxime dolorum quidem,
    ab nulla magnam, harum corporis alias assumenda quaerat adipisci ipsa accusantium. Consequuntur, corporis
    voluptatem. Repellendus vel nostrum nesciunt, optio doloremque praesentium aliquam, fugiat possimus expedita in enim
    perferendis officiis laboriosam, error voluptatem voluptatum aut! Possimus et eum incidunt iusto quibusdam eius
    vitae rerum at, non, facere, enim sit accusantium. Corporis vitae reiciendis culpa minima eius cum minus libero ut
    quibusdam numquam error sint consequatur accusantium expedita veniam atque consectetur animi, possimus maxime,
    corrupti id. Tempora autem adipisci, provident distinctio recusandae praesentium exercitationem repudiandae tempore
    totam amet! Asperiores ullam dolorem ipsam cupiditate, cum magnam! Facilis illo ea enim officia quidem voluptatum
    animi magni quia, natus tenetur consectetur provident earum quasi repellendus explicabo sunt. Voluptate sit nisi
    porro culpa voluptatem rem rerum? Voluptatem odio earum et numquam quis, ipsam dolorem excepturi nulla eos quas
    nobis facilis. Inventore, laudantium aut at, illum voluptatem maiores nobis debitis modi est tempore excepturi
    aspernatur impedit commodi quo molestiae. Dolorum reprehenderit molestias corrupti possimus minima enim eum unde
    quae illum. Ipsa temporibus autem est voluptatibus, iure possimus excepturi, aliquid iusto earum atque laborum illo,
    eligendi laboriosam. Facere expedita dignissimos nihil voluptate molestias fugiat nulla minus, quidem earum atque
    eaque, unde dolor quia recusandae tenetur ad quae deserunt! Aliquam iure ipsum iste nobis repudiandae laborum
    aliquid ab similique at harum perferendis ducimus minima officiis, blanditiis dolor molestiae a. Ab consequuntur in
    veniam accusantium quos totam deleniti vitae! At tempore delectus voluptates hic cupiditate molestias odit esse
    doloribus, adipisci porro totam, assumenda facere? Commodi quia iusto, a suscipit nostrum, incidunt omnis velit
    voluptatibus eveniet dolore cumque exercitationem consectetur. Ullam, nam. Cupiditate dolorum, distinctio omnis vero
    quos voluptates ullam explicabo porro totam voluptate accusantium molestiae aliquam minima fugiat similique
    quisquam. Esse blanditiis repellat rem in, dolorum quidem, eveniet rerum quis impedit id, exercitationem modi
    quibusdam. Accusantium aspernatur velit delectus magnam nostrum excepturi animi doloribus eaque, voluptate eum
    assumenda obcaecati odio ipsum! Delectus, totam aliquid dicta magni quod ipsum accusantium laborum. Temporibus,
    perferendis. Exercitationem alias ad, repudiandae eveniet natus quia. Autem perspiciatis dignissimos laudantium eum.
</body>