
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1 id="title">Fast Food Restaurants</h1>
</head>
<body>

   <input type="image" id="mcdonalds" class="restaurantbuttons" src="https://i.pinimg.com/originals/55/64/8a/55648a45dfcccebeb534d18c2078811d.jpg" style="width: 25%;">
   
   <input type="image" id="wendys" class="restaurantbuttons" src="https://www.nrn.com/sites/nrn.com/files/wendys.gif" style="width: 25%;">
   <input type="image" id="tacobell" class="restaurantbuttons" src="https://www.al.com/resizer/E53KKLEvCkFy6dsnYh_viI-SKRo=/1280x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.al.com/home/bama-media/width2048/img/news_impact/photo/taco-belljpg-a4ec4728652c705c.jpg" style="width: 25%;">

   <input type="image" id="subway" class="restaurantbuttons" src="https://photos.prnewswire.com/prnfull/20160608/376959" style="width: 25%;">

</body>
</html>