<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchu in the Mood For</title>
    <h1 id="title">Watchu in the mood for?</h1>
</head>
<body>
 
    <div>
    <div>
        <a routerLink="/breakfast"><img src="../../../assets/Breakfast_image.png" alt="Breakfast & Brunch"></a>
        <div>Breakfast & Brunch</div>
    </div>
    <div>
        <a routerLink="/chooseRestaurant"><img src="../../../assets/FastFoodImg.png" alt="Fast Food"></a>
        <div>Fast Food</div>
    </div>
    <div>
        <a routerLink="../chooseRestaurant"><img src="../../../assets/JuiceandSmoothie.png" alt="Juice and Smoothie"></a>
        <div>Juice and Smoothie</div>
    </div>
    <div>
        <a routerLink="../chooseRestaurant"><img src="../../../assets/sushi.png" alt="Sushi"></a>
        <div>Sushi</div>
    </div>
</div>

</body>
<router-outlet></router-outlet>
</html>
