     <table class="table table-dark">
        <thead>
            <tr>
                <th>Order Id</th>
                <th>Customer</th>
                <th>Order Cost</th>
                <th>Order Status</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let orderitem of readyOrders">
                <td>{{orderitem.orderId}}</td>
                <td>{{orderitem?.userId?.userFirstName}} {{orderitem?.userId?.userLastName}}</td>
                <td>${{orderitem.orderCost}}</td>
                <td>{{orderitem?.orderStatusId?.orderStatusName}}</td>
            </tr>
        </tbody>
    </table>
