
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1 id="title">Restaurants for Breakfast and Brunch</h1>
</head>
<body>

    <input routerLink="../orders" type="image" id="wafflehouse" class="restaurantbuttons" src="../../../assets/tropicalsmoothiecafe.jpg" style="width: 25%;">
   
    <input routerLink="../orders" type="image" id="ihop" class="restaurantbuttons" src="../../../assets/smoothie_king.jpg" style="width: 25%;">
    
</body>
</html>