#ordersTableDiv {
    --order-placed-color: #ffdd00;
    --order-ready-color: #417a00;
    --order-picked-up-color: #8f8f8f;
}

#ordersTableDiv {

}

button {
    margin: 1rem
}

#ordersTableInnerDiv{
    max-width: 500px;
    margin: 0 auto 1rem auto;
}

#orderTableHeader {
    margin-bottom: 2rem;

}

.order-records-div {
    cursor: pointer;
    background-color: white;
    max-width: 500px;
    height: 100px;
    margin: 0 auto 1rem auto;
    text-align: center;
    align-items: center;
    border-radius: var(--misc-border-radius);
    box-shadow: 5px 5px 15px 0px rgba(195, 195, 195, 0.3);
    overflow: hidden;
    /* color: var(--tex); */
}

.order-records-div .row {
    width: 100%;
    height: 100%;
    align-items: center;
    margin: 0;
    padding-right: 0;
}

#snippetTimeDiv {
    display: flex;
    /* background-color: var(--secondary-color); */
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    margin-right: 0;
}

#snippetColorCode {
    height: 30px;
    width: 30px;
    background-color: #417a00;
    display: inline-block;
    border-radius: 100%;
    /* margin-right: 20px; */
}

/* #snippetTimeDiv span{
    margin: auto;
} */


/* Order Details Modal */
#orderDetailNameLabel {
    margin-bottom: 2rem;
}

#orderDetailListHeader {
    font-weight: 500;
}

#orderDetailTotal {
    margin-top: 3rem;
}

#statusButton {
    margin: 1rem auto 1rem auto;
    width: 200px;
}